<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-2.1.xsd">

	<rabbit:connection-factory
		id="connectionFactory" host="192.168.199.118" port="5672"
		virtual-host="/practice" username="dongzhi.wang" password="admin" />
	<rabbit:admin id="connectionAdmin"
		connection-factory="connectionFactory" auto-startup="true" />
	<rabbit:queue name="spring-rabbit-queue" durable="false"
		exclusive="false" auto-declare="true" declared-by="connectionAdmin"></rabbit:queue>
	<rabbit:fanout-exchange
		name="spring-fanout-exchange" auto-delete="false" durable="false"
		declared-by="connectionAdmin">
		<rabbit:bindings>
			<rabbit:binding queue="spring-rabbit-queue"></rabbit:binding>
		</rabbit:bindings>
	</rabbit:fanout-exchange>
	<!-- 定义rabbit template -->
	<rabbit:template id="amqpTemplate" connection-factory="connectionFactory"  exchange="spring-fanout-exchange"/>
	<bean id="messageReceiver" class="org.spring.rabbitmq.common.Receive"/>
	
	<rabbit:listener-container connection-factory="connectionFactory" >
		<rabbit:listener ref="messageReceiver" queue-names="spring-rabbit-queue"/>
	</rabbit:listener-container>
	
	


</beans>
